* {
  padding: 0;
  margin: 0;
  border-box: box-sizing;
  font-family: "Fira Code", monospace;
}

main {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}
/* header */

header {
  background-color: #02032e;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc000;
}

header img {
  width: 70px;
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar li {
  list-style: none;
  display: inline-grid;
  padding: 30px;
}

.navbar a {
  text-decoration: none;
  color: #26a6e8;
  font-family: "Press Start 2P", cursive;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover {
  color: #ffc000;
  text-shadow: 5px 5px 10px #ffc000;
  transform: scale(1.3);
}
/* section start */

section {
  background-image: linear-gradient(
      to bottom,
      rgba(11, 36, 65, 0.8),
      rgba(2, 3, 46, 0.8)
    ),
    url("/img/bg-section.png");
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .start-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section h2 {
  font-size: 4rem;
  background-color: #02032e;
  color: #ffc000;
  padding: 1rem 2rem;
  margin: 2.4rem;
  border-radius: 10px 70px 10px 70px;
  box-shadow: -5px -5px 10px #d9ff0b;
}

.spies-img {
  transition: 0.5s ease-in-out;
}

.spies-img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

section img {
  width: 200px;
  height: 200px;
}

section button {
  background-color: #02032e;
  color: #1e80b7;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 900;
  margin: 0 100px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #259ddd;
  transition: 0.3s ease-in-out;
}

section button:hover {
  transform: scale(1.1);
  color: #ffc000;
  box-shadow: 7px 7px 5px #259ddd;
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #02032e;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1em;
  height: 10vh;
  color: #ffc000;
}

footer p {
  color: #ffc000;
  font-size: 0.6rem;
}

.prof-lucas {
  font-size: 2em;
  padding: 10px;
}
footer a {
  text-decoration: none;
  color: #26a6e8;
  font-family: "Press Start 2P", cursive;
  font-size: 0.5em;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer li {
  list-style: none;
  display: inline-grid;
  padding: 1vw;
}

.pop-up-intelligencer,
.pop-up-field-agent {
  z-index: 2000;
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5em;
  text-align: center;
}

.show.pop-up-intelligencer,
.show.pop-up-intelligencer {
  display: flex;
}
.show.pop-up-field-agent {
  display: flex;
}

.pop-up-intelligencer h2,
.pop-up-field-agent h2 {
  font-size: 1.5rem;
  color: #28ee3d;
  margin-bottom: 20px;
}
.pop-up-intelligencer p,
.pop-up-field-agent p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #29abef;
}

@keyframe pop-up-intelligencer-content, pop-up-field-agent-content {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.rules-spies-img {
  width: 12rem;
  height: auto;
  transition: 0.5s ease-in-out;
}

.rules-spies-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.pop-up-intelligencer-content,
.pop-up-field-agent-content {
  background-image: linear-gradient(
      to bottom,
      rgba(11, 36, 65, 0.8),
      rgba(2, 3, 46, 0.9)
    ),
    url("../img/bg-section.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 70vh;
  border-radius: 20px 120px 20px 50px;
  padding: 10px;
  border: 10px solid #29abef;
  animation: pop-up-intelligencer-content 0.5s ease-in-out;
}

.close-button-intelligencer,
.close-button-field-agent {
  background-color: #02032e;
  color: #1e80b7;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  margin: 50px 20px 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #259ddd;
  transition: 0.3s ease-in-out;
}

.close-button-intelligencer:hover,
.close-button-field-agent:hover {
  box-shadow: 5px 8px 10px #259ddd;
  transform: translateY(-3px);
  color: #ffc000;
}

@media screen and (max-width: 800px) {
  .pop-up-intelligencer,
  .pop-up-field-agent {
    width: 100vw;
    height: 100vh;
  }
  .pop-up-intelligencer-content,
  .pop-up-field-agent-content {
    width: 50;
    height: 80vh;
  }

  .pop-up-intelligencer p,
  .pop-up-field-agent p {
    font-size: 1rem;
    font-weight: bold;
    color: #29abef;
  }
}
