.button-start {
    background-color: #02032e;
    color: #1e80b7;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.9em;
    font-weight: 900;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #259ddd;
    transition: 0.3s ease-in-out;
  }
  
.button-start:hover {
    transform: scale(1.1);
    color: #ffc000;
    box-shadow: 7px 7px 5px #259ddd;
  }
  
.button-start.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2.2s;
  }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}