.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00baf0;
    background: linear-gradient(to left, #02032e, #030554);
    color: #fff;
    width: 100vw;
    height: 10vh;
    padding: 15px;
  }

  @media screen and (max-width: 740px) {

    .top-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #00baf0;
      background: linear-gradient(to left, #02032e, #030554);
      color: #fff;
      height: 10vh;
    }
  }