.logo {
    font-size: 1.5rem;
    color: #ffc000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    width: auto;
    height: 9vh;
    padding: 0.5rem 0;
    
  }  

