
.pop-up-intelligencer,
.pop-up-field-agent {
  z-index: 2000;
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: "Fira Code", sans-serif;
  text-align: center;
}

.show.pop-up-intelligencer,
.show.pop-up-intelligencer {
  display: flex;
}
.show.pop-up-field-agent {
  display: flex;
}

.rules-spies-img {
  width: 9rem;
  height: auto;
  transition: 0.5s ease-in-out;
}

.rules-spies-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.pop-up-intelligencer h2,
.pop-up-field-agent h2 {
  font-size: 2.4rem;
  color: #28ee3d;
}
.pop-up-intelligencer p,
.pop-up-field-agent p {
  font-size: 2.1rem;
  color: #29abef;
}


.pop-up-intelligencer-content,
.pop-up-field-agent-content {
  background-image: linear-gradient(
      to bottom,
      rgba(11, 36, 65, 0.7),
      rgba(2, 3, 46, 1)
    );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 70vh;
  border-radius: 20px 80px 20px 50px;
  padding: 15px;
  box-shadow: inset -3px -3px 5px #29abef;
  
}

.pop-up-intelligencer p::after,
.pop-up-field-agent p::after{
  content: "_";
  opacity: 1;
  margin-left: 2px;
  animation: blink-rules .7s infinite;
  
}

@keyframes blink-rules {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  
}

.close-button-intelligencer,
.close-button-field-agent {
  background-color: #02032e;
  color: #1e80b7;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  margin: 10px 20px 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #259ddd;
  transition: 0.3s ease-in-out;
}

.close-button-intelligencer:hover,
.close-button-field-agent:hover {
  box-shadow: 5px 8px 10px #259ddd;
  transform: translateY(-3px);
  color: #ffc000;
}

@media screen and (max-width: 740px) {

  .rules-spies-img {
    width: 6rem;
    height: auto;
  }

    .pop-up-intelligencer,
  .pop-up-field-agent {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
  }

  .pop-up-intelligencer-content,
  .pop-up-intelligencer-content,
  .pop-up-field-agent-content {
    width: 85vw;
    height: 75vh;
    position: fixed; 
    top: 5vh;

  }

  .pop-up-intelligencer-content h2,
  .pop-up-field-agent-content h2 {
    font-size: 2.6rem;
  }
  .pop-up-intelligencer p,
  .pop-up-field-agent p {
    font-size: 1.7rem;
    color: #29abef;
  }
}
